@import './components/CartWidget/CartWidget.css';
@import './components/Item/Item.css';
@import './components/ItemCount/ItemCount.css';
@import './components/ItemDetail/ItemDetail.css';
@import './components/ItemList/ItemList.css';
@import './components/ItemListConteiner/ItemListConteiner.css';
@import './components/NavBar/navBar.css';


.App {
  background-color: rgb(245, 245, 245);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: center;
}
